lab/__pycache__/__init__.cpython-311.pyc
lab/__pycache__/settings.cpython-311.pyc
lab/__pycache__/urls.cpython-311.pyc
lab/__pycache__/wsgi.cpython-311.pyc
app/__pycache__/__init__.cpython-311.pyc
app/__pycache__/admin.cpython-311.pyc
app/__pycache__/apps.cpython-311.pyc
app/__pycache__/models.cpython-311.pyc
app/__pycache__/urls.cpython-311.pyc
app/__pycache__/views.cpython-311.pyc
app/migrations/__init__.py
app/migrations/__pycache__/__init__.cpython-311.pyc
app/migrations/0001_initial.py
app/migrations/0002_alter_patient_report_date.py
app/migrations/0003_alter_patient_report_date.py
app/migrations/0004_alter_doctor_phone_numer.py
app/migrations/0005_rename_phone_numer_doctor_phone_number.py
app/migrations/0006_alter_patient_report_date.py
app/migrations/0007_alter_patient_report_date.py
app/migrations/0008_alter_patient_report_date.py
app/migrations/__pycache__/0001_initial.cpython-311.pyc
app/migrations/__pycache__/0002_alter_patient_report_date.cpython-311.pyc
app/migrations/__pycache__/0003_alter_patient_report_date.cpython-311.pyc
app/migrations/__pycache__/0004_alter_doctor_phone_numer.cpython-311.pyc
app/migrations/__pycache__/0005_rename_phone_numer_doctor_phone_number.cpython-311.pyc
app/migrations/__pycache__/0006_alter_patient_report_date.cpython-311.pyc
app/migrations/__pycache__/0007_alter_patient_report_date.cpython-311.pyc
app/migrations/__pycache__/0008_alter_patient_report_date.cpython-311.pyc
app/migrations/0002_tests.py
app/migrations/0003_remove_cbctest_patient_remove_crptest_patient_and_more.py
app/migrations/0004_alter_tests_options.py
app/migrations/0005_alter_tests_options_remove_tests_patient.py
app/migrations/0006_tests_patient.py
app/migrations/0007_myimage.py
app/migrations/0008_biochemistrytest_cbctest_crptest_glucose_bftest_and_more.py
app/migrations/0009_biochemistrytest_cbctest_crptest_kedneyfunctiontest_and_more.py
app/migrations/0009_cbctest_test_name.py
app/migrations/__pycache__/0002_remove_patient_tests.cpython-311.pyc
app/migrations/__pycache__/0002_remove_patient_user.cpython-311.pyc
app/migrations/__pycache__/0002_tests.cpython-311.pyc
app/migrations/__pycache__/0003_alter_selectedtest_test.cpython-311.pyc
app/migrations/__pycache__/0003_remove_cbctest_patient_remove_crptest_patient_and_more.cpython-311.pyc
app/migrations/__pycache__/0004_alter_tests_options.cpython-311.pyc
app/migrations/__pycache__/0005_alter_tests_options_remove_tests_patient.cpython-311.pyc
app/migrations/__pycache__/0006_tests_patient.cpython-311.pyc
app/migrations/__pycache__/0007_myimage.cpython-311.pyc
app/migrations/__pycache__/0008_biochemistrytest_cbctest_crptest_glucose_bftest_and_more.cpython-311.pyc
app/migrations/__pycache__/0009_cbctest_test_name.cpython-311.pyc
app/migrations/__pycache__/0010_glucose_bftest_remove_biochemistrytest_biochemistry_and_more.cpython-311.pyc
app/migrations/__pycache__/0011_alter_patient_name.cpython-311.pyc
app/migrations/__pycache__/0012_selectedtest_patient_tests.cpython-311.pyc
app/__pycache__/forms.cpython-311.pyc
app/__pycache__/forms.cpython-311.pyc
app/__pycache__/forms.cpython-311.pyc
app/__pycache__/forms.cpython-311.pyc
app/__pycache__/forms.cpython-311.pyc
app/migrations/0009_biochemistrytest_cbctest_crptest_kedneyfunctiontest_and_more.py
app/__pycache__/forms.cpython-311.pyc
app/migrations/0002_alter_biochemistrytest_patient_alter_cbctest_patient_and_more.py
app/migrations/__pycache__/0002_alter_biochemistrytest_patient_alter_cbctest_patient_and_more.cpython-311.pyc
