{% extends 'app/base.html' %} 
{% load static %} {% block content %}

<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa-solid fa-hospital-user fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">Add Patient</div>
            <div></div>
          </div>
        </div>
      </div>
      <a href="{% url 'add_patient' %}">
        <div class="panel-footer">
          <span class="pull-left">Add Now</span>
          <span class="pull-right"
            ><i class="fa fa-arrow-circle-right"></i
          ></span>

          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa-solid fa-vial-virus fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">Manage Tests</div>
            <div></div>
          </div>
        </div>
      </div>
      <a href="{% url 'sub_manage_test' %}">
        <div class="panel-footer">
          <span class="pull-left">Views All Tests</span>
          <span class="pull-right"
            ><i class="fa fa-arrow-circle-right"></i
          ></span>

          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa-solid fa-microscope fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">Tests History</div>
            <div></div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">Recent Tests History</span>
          <span class="pull-right"
            ><i class="fa fa-arrow-circle-right"></i
          ></span>

          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa-solid fa-bed-pulse fa-4x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">Manage Patients</div>
            <div></div>
          </div>
        </div>
      </div>
      <a href="{% url 'manage_patient' %}">
        <div class="panel-footer">
          <span class="pull-left">All Patients History</span>
          <span class="pull-right"
            ><i class="fa fa-arrow-circle-right"></i
          ></span>

          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>



{% endblock content %}

    
