{% extends 'app/base.html' %}
{% load static %}



{% block title %}
    Test Values Forms
{% endblock title %}
    

{% block content %}


    <h2 class="text-center">All the Test Fields You have Selected</h2>

      <div class="container" style="margin-left:30px;">
        <hr>
        <br>
        <form method="post" action="">
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-8 mb-3">
          {% if test1_form %}
          <div class="card">
            <h2 class="card-header text-danger">CBC Test *</h2>
            <div class="card-body">
              <div class="form-group">
                {{ test1_form.label_tag }}
                {{ test1_form.as_p }}
              </div>
            </div>
          </div>
          {% endif %}

        </div>
        <div class="col-sm-8 mb-3">

          {% if test2_form %}
          <div class="card">
            <h2 class="card-header text-danger">Bio Chemistry Test *</h2>
            <div class="card-body">
              <div class="form-group">
                {{ test2_form.label_tag }}
                {{ test2_form }}
              </div>
            </div>
          </div>
          {% endif %}

        </div>
        <div class="col-sm-8 mb-3">

          {% if test3_form %}
          <div class="card">
            <h2 class="card-header text-danger">Stool RE Test *</h2>
            <div class="card-body">
              <div class="form-group">
                {{ test3_form.label_tag }}
                {{ test3_form }}
              </div>
            </div>
          </div>
          {% endif %}

        </div>
        <div class="col-sm-8 mb-3">

          {% if test4_form %}
          <div class="card">
            <h2 class="card-header text-danger">Urine RE Test *</h2>
            <div class="card-body">
              <div class="form-group">
                {{ test4_form.label_tag }}
                {{ test4_form }}
              </div>
            </div>
          </div>
          {% endif %}

        </div>
        <div class="col-sm-8 mb-3">

          {% if test5_form %}
          <div class="card">
            <h2 class="card-header text-danger">Serology Test *</h2>
            <div class="card-body">
              <div class="form-group">
                {{ test5_form.label_tag }}
                {{ test5_form }}
              </div>
            </div>
          </div>
          {% endif %}

        </div>
        <div class="col-sm-8 mb-3">

          {% if test6_form %}
          <div class="card">
            <h2 class="card-header text-danger">Semen Test *</h2>
            <div class="card-body">
              <div class="form-group">
                {{ test6_form.label_tag }}
                {{ test5_form }}
              </div>
            </div>
          </div>
          {% endif %}

        </div>
        <div class="col-sm-8 mb-3">

          {% if test7_form %}
          <div class="card">
            <h2 class="card-header text-danger">CRP Test *</h2>
            <div class="card-body">
              <div class="form-group">
                {{ test7_form.label_tag }}
                {{ test7_form }}
              </div>
            </div>
          </div>
          {% endif %}

        </div>
        <div class="col-sm-8 mb-3">

          {% if test8_form %}
          <div class="card">
            <h2 class="card-header text-danger">ThyRoid Test *</h2>
            <div class="card-body">
              <div class="form-group">
                {{ test8_form.label_tag }}
                {{ test8_form }}
              </div>
            </div>
          </div>
          {% endif %}

        </div>
        <div class="col-sm-8 mb-3">

          {% if test9_form %}
          <div class="card">
            <h2 class="card-header text-danger">Kedney Function Test *</h2>
            <div class="card-body">
              <div class="form-group">
                {{ test9_form.label_tag }}
                {{ test9_form }}
              </div>
            </div>
          </div>
          {% endif %}

        </div>
        <div class="col-sm-8 mb-3">

          {% if test10_form %}
          <div class="card">
            <h2 class="card-header text-danger">Liver Function Test *</h2>
            <div class="card-body">
              <div class="form-group">
                {{ test10_form.label_tag }}
                {{ test10_form }}
              </div>
            </div>
          </div>
          {% endif %}

        </div>
        <div class="col-sm-8 mb-3">

          {% if test11_form %}
          <div class="card">
            <h2 class="card-header text-danger">Glucose BF Test *</h2>
            <div class="card-body">
              <div class="form-group">
                {{ test11_form.label_tag }}
                {{ test11_form }}
              </div>
            </div>
          </div>
          {% endif %}

        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-8 col-md-8">
          <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
          <br><br><br>
          <hr>
        </div>
      </div>
        </form>
      </div>
{% endblock content %}


